VITE_ENTRA_CLIENT_ID=<spa-application-client-id>
VITE_ENTRA_AUTHORITY=https://login.microsoftonline.com/<tenant-id>
VITE_ENTRA_API_SCOPE=api://<api-application-client-id>/access_as_user
VITE_ENTRA_REDIRECT_URI=http://localhost:5173
